/* Place CSS styles here */
html{
    scroll-behavior: smooth;
}

body{
    color:white;
    background-color:#0f1321;
    font-size: 50px;
    background-image: url(../img/horizontal2.jpeg)
}

a{
    color: white;
}
a:hover{
    color:palevioletred
}
a:focus-visible{
    border: 2px solid paleturquoise;
}

.top-text{
    text-align: center;
}